@model DMS_WebApplication.Models.AppointmentBookingDTO
@{
    ViewBag.Title = "DMS - Book Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <style>
        .border-radius {
            border-radius: 8px !important;
        }

        .selectgroup-button {
            border-color: #6777ef !important;
            color: #6777ef !important;
            font-weight: 500 !important;
        }

        .selectgroup-input-radio:focus + .selectgroup-button, .selectgroup-input-radio:checked + .selectgroup-button {
            color: #fff !important;
            font-weight: 600 !important;
        }

        .nav {
            -ms-flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .nav-item {
            flex: 1;
            color: #4B566B !important;
            font-size: 15px;
            border: 1px solid #e1e1e1;
            border-radius: 8px;
            margin: 0 5px 0 0;
            min-width: fit-content !important;
        }

            .nav-item .nav-link {
                color: #4B566B !important;
            }

            .nav-item .active {
                color: #6777ef !important;
                border-radius: 8px;
                font-weight: 700 !important;
                background-color: rgb(244 246 255) !important;
                box-shadow: 0 0px 3px #acb5f6d6 !important;
            }

        #date-navbar {
            flex-wrap: nowrap !important;
            overflow-x: auto !important;
        }

        .date-nav-item {
            min-width: 180px !important;
            border: 1px solid #6777ef;
            border-radius: 8px;
            margin: 0 5px 0 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        }

            .date-nav-item .nav-link {
                border-radius: 8px;
                text-align: center;
            }

            .date-nav-item .active {
                font-weight: 600 !important;
                border: 1px solid #e1e1e1;
            }
    </style>
    <div class="section-body">
        <div class="row mb-2">
            <div class="col-12">
                <h3>All Appointments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                    </div>
                    <div class="card-body">
                        <h6 class="mb-3" style="color: black !important; font-weight:600 !important;">
                            Select Clinic/Hospital
                        </h6>
                        <ul class="nav nav-pills mb-4" role="tablist" aria-name="ConsultCriteria">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="home" aria-selected="true">@Model.AppointmentType</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent2" aria-name="ConsultDetails">
                            <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                                <h6 class="mb-3" style="color: black !important; font-weight:600 !important;">Date</h6>
                                <ul class="nav nav-pills mb-5" id="date-navbar" role="tablist" aria-name="ConsultDate">
                                    @{
                                        int count = 0;
                                    }
                                    @foreach (var item in Model.DoctorAvailableDays)
                                    {
                                        if (count == 0)
                                        {
                                            <li class="date-nav-item">
                                                <a class="nav-link active" id="DaysTab_@item.Trim().Replace(",","").Replace(" ","")" data-toggle="tab" href="#tab_@item.Trim().Replace(",","").Replace(" ","")" role="tab" aria-controls="home_@item.Trim().Replace(",","").Replace(" ","")" aria-selected="true">@item</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="date-nav-item">
                                                <a class="nav-link" id="DaysTab_@item.Trim().Replace(",","").Replace(" ","")" data-toggle="tab" href="#tab_@item.Trim().Replace(",","").Replace(" ","")" role="tab" aria-controls="home_@item.Trim().Replace(",","").Replace(" ","")" aria-selected="false">@item</a>
                                            </li>
                                        }
                                        count++;
                                    }
                                </ul>
                                <h6 class="mb-3" style="color: black !important; font-weight:600 !important;">Time</h6>
                                <div class="tab-content" aria-name="ConsultTimings">
                                    @{
                                        int count1 = 0;
                                        int count2 = 0;
                                    }
                                    @foreach (var item in Model.DoctorAvailableDaysWithTimings)
                                    {
                                        if (count1 == 0)
                                        {
                                            <div class="tab-pane fade show active p-0" id="tab_@item.Key.Trim().Replace(",","").Replace(" ","")" role="tabpanel" aria-labelledby="DaysTab_@item.Key.Trim().Replace(",","").Replace(" ","")">
                                                <div class="form-group">
                                                    <div class="row">
                                                        @foreach (var time in item)
                                                        {
                                                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                                                                <div class="selectgroup w-100">
                                                                    <label class="selectgroup-item">
                                                                        @if (count2 == 0)
                                                                        {
                                                                            <input type="radio" name="radio1" value="@time.Timings" class="selectgroup-input-radio" checked="checked">
                                                                            <span class="selectgroup-button border-radius">@time.Timings</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="radio" name="radio1" value="@time.Timings" class="selectgroup-input-radio">
                                                                            <span class="selectgroup-button border-radius">@time.Timings</span>
                                                                        }
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            count2++;
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab-pane fade p-0" id="tab_@item.Key.Trim().Replace(",","").Replace(" ","")" role="tabpanel" aria-labelledby="DaysTab_@item.Key.Trim().Replace(",","").Replace(" ","")">
                                                <div class="form-group">
                                                    <div class="row">
                                                        @foreach (var time in item)
                                                        {
                                                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                                                                <div class="selectgroup w-100">
                                                                    <label class="selectgroup-item">
                                                                        @if (count2 == 0)
                                                                        {
                                                                            <input type="radio" name="radio1" value="@time.Timings" class="selectgroup-input-radio" checked="checked">
                                                                            <span class="selectgroup-button border-radius">@time.Timings</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="radio" name="radio1" value="@time.Timings" class="selectgroup-input-radio">
                                                                            <span class="selectgroup-button border-radius">@time.Timings</span>
                                                                        }
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            count2++;
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                        count1++;
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                                Sed sed metus vel lacus hendrerit tempus. Sed efficitur velit tortor, ac efficitur est lobortis
                                quis. Nullam lacinia metus erat, sed fermentum justo rutrum ultrices. Proin quis iaculis tellus.
                                Etiam ac vehicula eros, pharetra consectetur dui.
                            </div>
                            <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
                                Sed sed metus vel lacus hendrerit tempus. Sed efficitur velit tortor, ac efficitur est lobortis
                                quis. Nullam lacinia metus erat, sed fermentum justo rutrum ultrices. Proin quis iaculis tellus.
                                Etiam ac vehicula eros, pharetra consectetur dui.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}