@model DMS_BOL.Validation_Classes.ValidateDoctor

@{
    ViewBag.Title = "DMS - Profile Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <link type="text/css" rel="stylesheet" href="~/assets/css/image-uploader.min.css">
    <script type="text/javascript" src="~/assets/js/image-uploader.min.js"></script>
    <script>
        function loadProfile(event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                $("#dynamicImage").attr("src", URL.createObjectURL(event.target.files[i]));
            }
        }
    </script>
    <style>
        .select2-container {
            width: 100% !important;
        }

        .custom-file-upload {
            background-color: #7a88f1;
            border-radius: 25px;
            border: 1px solid #7a8aff;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            text-align: center;
            width: 8rem;
            color: #fff !important;
            margin-top: 3px;
        }

        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../../assets/img/loading.gif) 50% 50% no-repeat #f9f9f9;
            opacity: 0.5;
        }

        .dynamicImage {
            height: 150px !important;
            width: 150px !important;
            margin: 10px !important;
            border: 2px solid #ededed !important;
        }

        #dynamicImage {
            background: #f8f8f8;
            border: 1px solid #ededed;
            border-radius: 2px;
        }
    </style>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <div class="card card-primary">
                <div class="card-body">
                    @if (TempData["ErrorMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @Html.Raw(TempData["ErrorMsg"])
                            </div>
                        </div>
                    }
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @Html.Raw(TempData["SuccessMsg"])
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Settings", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group" style=" display: flex; flex-direction: column-reverse; align-items: center;">
                            <label for="choose-file" class="custom-file-upload" id="choose-file-label">
                                Change Avatar
                            </label>
                            <input name="file" type="file" id="choose-file" required="required"
                                   accept="image/png,image/jpg,image/jpeg" onchange="loadProfile(event)" style="display: none !important;" />
                            @if (Session["UserImage"] != null)
                            {
                                <img id="dynamicImage" src="@Url.Content(Session["UserImage"].ToString())" alt="Profile Image" width="120" height="120" style="border-radius: 50%;" />
                            }
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>First Name</label>
                                @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { placeholder = "Enter your first name", @class = "form-control" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Last Name</label>
                                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { placeholder = "Enter your last name", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Phone Number</label>
                                @Html.ValidationMessageFor(model => model.UserUpdatePhoneNumber, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.UserUpdatePhoneNumber, new { htmlAttributes = new { placeholder = "Enter your phone number", @class = "form-control" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Email Address</label>
                                @Html.ValidationMessageFor(model => model.UserUpdateEmail, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.UserUpdateEmail, new { htmlAttributes = new { placeholder = "Enter your email address", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Work Phone Number</label>
                                @Html.ValidationMessageFor(model => model.DoctorWorkPhoneNumber, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DoctorWorkPhoneNumber, new { htmlAttributes = new { placeholder = "Enter your work phone number", @class = "form-control" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Gender</label>
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                <div>
                                    <div class="custom-control custom-radio d-inline-block pr-3">
                                        @Html.RadioButtonFor(model => model.Gender, "1", htmlAttributes: new { @class = "custom-control-input", @id = "customRadio1" })
                                        <label class="custom-control-label" for="customRadio1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio d-inline-block">
                                        @Html.RadioButtonFor(model => model.Gender, "2", htmlAttributes: new { @class = "custom-control-input", @id = "customRadio2" })
                                        <label class="custom-control-label" for="customRadio2">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Password</label>
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { placeholder = "Enter your secure password", @class = "form-control", @type = "password" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Confirm Password</label>
                                @Html.ValidationMessageFor(model => model.ConfirmPassowrd, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ConfirmPassowrd, new { htmlAttributes = new { placeholder = "Enter your secure password", @class = "form-control", @type = "password" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>State</label>
                                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.StateID, (IEnumerable<SelectListItem>)ViewBag.State, htmlAttributes: new { @class = "form-control select2" })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" id="CityD">
                                <label>City</label>
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.CityID, (IEnumerable<SelectListItem>)ViewBag.City, htmlAttributes: new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" id="AreaD">
                                <label>Area</label>
                                @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(model => model.AreaID, (IEnumerable<SelectListItem>)ViewBag.Zone, htmlAttributes: new { @class = "form-control select2" })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" id="AddressD">
                                <label>Complete Address</label>
                                @Html.ValidationMessageFor(model => model.CompleteAddress, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.CompleteAddress, new { htmlAttributes = new { placeholder = "Enter your complete address", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Years Of Experience</label>
                                @Html.ValidationMessageFor(model => model.DoctorYearsOfExperience, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DoctorYearsOfExperience, new { htmlAttributes = new { placeholder = "Enter your years of experience", @class = "form-control" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Specialization</label>
                                @Html.ValidationMessageFor(model => model.DoctorSpecialization, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DoctorSpecialization, new { htmlAttributes = new { placeholder = "Enter your specialization", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Awards and Achievements</label>
                                @Html.ValidationMessageFor(model => model.DoctorAwardsAndAchievements, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DoctorAwardsAndAchievements, new { htmlAttributes = new { placeholder = "Enter your awards and achievements", @class = "form-control" } })
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label>Response Time (In Minutes)</label>
                                @Html.ValidationMessageFor(model => model.DoctorResponseTime, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DoctorResponseTime, new { htmlAttributes = new { placeholder = "Enter your response time", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label class="d-flex justify-content-between align-items-center">
                                    About Me
                                    <span><span id="textWordCount">0</span>/800</span>
                                </label>
                                @Html.ValidationMessageFor(model => model.DoctorAboutMe, "", new { @class = "text-danger mb-2" })
                                @Html.TextAreaFor(model => model.DoctorAboutMe, htmlAttributes: new { placeholder = "Enter your about me", @class = "form-control", @style = "height:150px !important;text-align: justify !important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            textCount();

            function textCount() {
                var currentString = $("#DoctorAboutMe").val();
                $("#textWordCount").text(currentString.length);
            }

            $('#choose-file').change(function () {
                var file = $('#choose-file')[0].files[0].name;
                $('#choose-file-label').text(file);
            });

            $("#DoctorAboutMe").on('input', function () {
                var currentString = $("#DoctorAboutMe").val();
                if (currentString.length >= 800) {
                    $("#textWordCount").css('color', '#fc544b');
                }
                $("#textWordCount").text(currentString.length);
            });

            $("#StateID").change(function () {
                var StateId = $(this).val();
                $(".loader").show();
                $.ajax({
                    type: "post",
                    url: "/Account/GetCityList?StateId=" + StateId,
                    contentType: "html",
                    success: function (response) {
                        $("#CityID").empty();
                        $("#AreaID").empty();
                        $('#AreaD').hide();
                        $('#AddressD').hide();
                        $("#CityID").append(response);
                        $('#CityD').show();
                        $(".loader").hide();
                    }
                })
            });

            $("#CityID").change(function () {
                var CityId = $(this).val();
                $(".loader").show();
                $.ajax({
                    type: "post",
                    url: "/Account/GetZoneList?CityId=" + CityId,
                    contentType: "html",
                    success: function (response) {
                        $("#AreaID").empty();
                        $("#AreaID").append(response);
                        $('#AreaD').show();
                        $(".loader").hide();
                    }
                })
            });

            $("#AreaID").change(function () {
                var AreaId = $(this).val();
                $(".loader").show();
                if (AreaId > 0) {
                    $('#AddressD').show();
                    $(".loader").hide();
                }
            });
        });
    </script>
}
